main {
  width: 100%;
  .main-box {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: $colorGray;
    .discs-container {
      display: flex;
      flex-wrap: wrap;
      @include container;
      height: 100%;
      padding: 20px 0px;
      .box-cd {
        @include cdBox;
        .poster-box {
          @include posterBox;
        }
        .title-box {
          @include titleBox;
        }
        .info-cd {
          @include infoCd;
        }
      }
    }
  }
}
